@font-face {
    font-family: Raleway;
    src: url(./Raleway/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-bold;
    src: url(./Raleway/static/Raleway-Bold.ttf);
}
    * {
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

/*  HEADER  */
header {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   
}

header img {
    padding: 10px 0 10px 10px;
}
header nav{
    color: #3082FD;
    width: 800px;
    display: flex;justify-content: center;
}
header nav a {
    text-decoration: none;
    width: 200px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3082FD;

}
header nav .contenu:focus  {
    border-top: 3px solid #0065FC;
    color: #3082FD;
}

#btn-inscription {
    position: absolute;
    top: 24px;
    left: 90%;
    text-decoration: none;
    font-family: Raleway-bold;
    color: #0065FC;
    font-weight: bolder;
    
}

@media (max-width: 920px) {
    header nav{
        color: #3082FD;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: none
    }
    header nav .contenu  {
        border-bottom: 3px solid #bebebe;
    }
    header nav .contenu:focus  {
        border: none;
        border-bottom: 3px solid #0065FC;
        color: #3082FD;
    }

header nav a {
    text-decoration: none;
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3082FD;

}

#btn-inscription {
    position: absolute;
    left: 78%;
    text-decoration: none;
    font-family: Raleway-bold;
    color: #0065FC;
    font-weight: bolder;
    
}

}
@media (max-width: 320px) {
    #btn-inscription {
        left: 70%;
    }
}

.titre h2 , .titre p{
    margin: 15px 0px 15px 15px;
}

.recherche {
    margin: 25px 0px 25px 15px;
    width: 75%;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.recherche i {
    background-color: #dfdede;
    font-size: 1.4em;
    padding: 3px 3px;
    width: 35px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: none;
}
.recherche input {
    width: 200px;
    border: 1px solid #efefef;
    outline-style: none;
    padding-left: 10px;
    font-family: Raleway-bold;
}
.recherche input::placeholder{
    font-family: Raleway-bold;
    font-size: 14px;
    color: #000000;
}
.recherche button  {
    background-color: #0065FC;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    width: 7em;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline-style: none;
    cursor: pointer;
}
@media (max-width: 540px){
    .recherche {
        margin-left: 5px;

    }
}

/*   FILTRE   */

.filtres {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-family: Raleway-bold;
}
.filtres p {
    padding: 15px 0 15px 15px;
}

.filtre-element {
    height: 40px;
    margin: 5px 0 5px 15px;
    display: flex;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1.5px solid #bebebe;
    border-left: none;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    background: linear-gradient(to right, #0065FC 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.filtre-element:hover{
    background-position: left bottom;
    color: #fff;
}
.filtre-element :active{
    background-position: left bottom;
    color: #fff; 
}

.filtre-element span {
    padding: 0 10px;
    font-family: Raleway-bold;
}
.filtre-element i {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #d1e3ff;
    border-radius: 50%;
    color: #3082FD;
}
@media (max-width: 920px) {
    .filtres > p {
        width: 100%;
    }
}

.info {
    margin: 15px 0 15px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}
.info i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: #0065FC;
    font-size: 12px;
    border: 1px solid #bebebe;
}
.info p {
    margin-left: 10px;
}


/*   SECTION CONTENU   */

/*   HEBERGEMENT   */
.container {
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.hebergement-section {
    order: 1;
    width: 60%;
    background-color: #f2f2f2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 20px;
    margin: 20px 0px 20px 10px;
    
}
.hebergement-section h2 {
    padding: 50px 0px 10px 40px;
    font-family: Raleway-bold;
}
.hebergement-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.hebergement {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    border-radius: 20px;
    margin: 15px 5px;
    width: 250px;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
}

.hebergement img {
    padding: 5px;
    object-fit: cover;
    width: 250px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text-card {
    height: 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding-left: 10px;
}
.text-card p:first-child {
    font-family: Raleway-bold;
    font-size: 20px;
}
.note i {
    color: #0065FC;
    font-size: 14px;
}
.grey i{
    color: #bebebe;
}
.hebergement-section button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #000000;
    margin: 30px;
    background-color: #f2f2f2;
    width: fit-content;
    padding-left: 10px;
    font-family: Raleway-bold;
}

@media (max-width: 1040px) {
    .container {
        width: 100%;
    }
    .hebergement-section h2 {
        padding: 0px 0px 10px 40px;
    }
    .hebergement-section {
        background-color: #fff;
        width: 100%;
        margin: 0;
    }
    .hebergement {
        width: 250px;
    }
    .hebergement-section button {
        background-color: #fff;
        margin: 10px 0px 40px 3%;
    }
}
@media (max-width: 450px){
    .hebergement {
        width: 90%;
        height: 160px;
    }
    
    .hebergement img {
        width: 100%;
        height: 100px;
    }
    .text-card {
        height: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding-left: 10px;
    }
    .text-card p:first-child {
        font-family: Raleway-bold;
        font-size: 15px;
        margin-top: 10px;
    }
    .note i {
        color: #0065FC;
        font-size: 14px;
    }
}


/*   ASIDE   */

aside {
    order:2;
    background-color: #f2f2f2;
    border-radius: 20px;
    max-width: 480px; 
    padding: 20px 20px 0px 20px;
    margin: 20px 0px 20px 20px;
}
.populaire-header {
    padding: 20px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.populaire-header p {
    font-family: Raleway-bold;
    font-size: 22px;
}
.populaire-header i {
    font-size: 20px;
}
.populaire-card {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    border-radius: 20px;
    margin: 15px 20px;
    width: 90%;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
}
.populaire-card img {
    padding: 5px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.text-populaire {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 0 10px 15px;
}
.text-populaire p:first-child {
    font-family: Raleway-bold;
    font-size: 24px;
    width: 100%;
}
.text-populaire > * {
    width: 90%;
}
.text-populaire .note {
    align-self: flex-end;
    font-size: 14px;
    
}

@media (max-width: 1292px) {
    .container {
        flex-wrap: wrap-reverse;
    }
    aside {
        max-width: 380px; 
        padding: 20px 20px 0px 20px;
        margin: 20px 0px 20px 0px;
    }
    .populaire-header {
        padding: 20px 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .text-populaire p:first-child {
        font-size: 16px;
    }
}
@media (max-width:1040px) {
aside {
    max-width: 100%; 
    padding: 20px 20px 0px 20px;
    margin: 20px 0px 20px 0px;
    border-radius: 0px;
    width: 100%;
}
.populaire {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.populaire-card { 
    width: 350px;
}
.text-populaire p:first-child {
    font-family: Raleway-bold;
    font-size: 22px;
}

}
@media(max-width: 850px) {
    aside {
        max-width: 100%;
    }
    .populaire {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 5px;
    }
    .text-populaire {
        margin: 10px 0 10px 10px;
    }
}

@media (max-width: 600px){
    aside {
        padding: 0px 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .text-populaire p {
        font-size: 14px;
    }
    .note i{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .text-populaire p:first-child {
        font-family: Raleway-bold;
        font-size: 16px;
        margin-bottom: -15px;
    }
    .text-populaire {
        margin: 5px 0 5px 5px;
        
    }
    .populaire-card {
        width: 100%;
        margin: 15px 0px;
    }
    .populaire-card img {
        width: 120px;
    }
    .populaire {
        display: flex;
        flex-flow: column wrap;
    }
}


/*   ACTIVITES   */
.activites-section {
    order: 3;
    margin-bottom: 15px; 
    width: 100%;
}
.activites-section > h2 {
    margin-left: 70px;
    font-family: Raleway-bold;
}

.activites {
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.activites-card {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.8);
    margin: 25px;
    background-color: #fff;
}
.activites-card h3 {
    font-family: Raleway-bold;
    padding: 10px 0px 10px 15px;
}
.activites-card img{
    object-fit: cover;
    width: 280px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/*   IMAGE 1  */
.activites-card:nth-child(1){
    height: 450px;
}
.activites-card:nth-child(1) img{
    height: 90%;
}
/*   COLUMN 1   */
.col-1 {
    height: 450px;
}
/*   IMAGE 2   */
.col-1 .activites-card:nth-child(1){
    height: 60%;
}
.col-1 .activites-card:nth-child(1) img{
    height: 80%;
}
/*   IMAGE 3   */
.col-1 .activites-card:nth-child(2){
    height: 35%;
}
.col-1 .activites-card:nth-child(2) img{
    height: 70%;
}
/*   IMAGE 4   */
.activites-card:nth-child(3){
    height: 450px;
}
.activites-card:nth-child(3) img{
    height: 90%;
}

/*  COLUMN 2  */
.col-2 {
    height: 450px;
}
/*   IMAGE 5  */
.col-2 .activites-card:nth-child(1){
    height: 47%;
}
.col-2 .activites-card:nth-child(1) img {
    height: 75%;
}
/*   IMAGE 6   */
.col-2 .activites-card:nth-child(2) {
    height: 47%;
}

.col-2 .activites-card:nth-child(2) img {
    height: 75%;
}



@media(max-width: 1292px) {
    .activites-section{
        order: -1;
    }
    .col-2 {
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .col-2 .activites-card {
        width: 70%;
    }
    
    .col-2 .activites-card img {
        width: 100%;
    }
}
@media (max-width:992px) {
    
    .col-2 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 47%;
        width: 70%;
        width: 50%;
    }
    .col-2 .activites-card {
        width: 300px;
        height: 200px;
    }
    
    .col-2 .activites-card img {
        width: 100%;
    }
    /*   IMAGE 4   */
    .activites-card:nth-child(3){
        height: 570px;
    }
    .activites-card:nth-child(3) img{
        height: 90%;
    }   

}  
@media (max-width: 677px) {
    .activites-section h2 {
        margin-left: 15px;
    }
    .activites-card:nth-child(3){
        height: 450px;
        margin-top: 60px;
    }
    .activites-card h3 {
        font-size: medium;
    }
}
@media (max-width: 560px) {
    .activites-card{
        margin: 20px 0;
        width: 90%;
    }
    .col-1, .col-2 {
        width: 90%;
        margin: 20px 0;
    }
    .col-1 .activites-card,
    .col-2 .activites-card {
        width: 100%;
        justify-content: center;
    }
    .activites-card img{
        width: 100%;
        height: 200px;
        margin: 0;
        
    }
    
    
    
    /*   IMAGE 1  */
    .activites-card:nth-child(1){
        height: 150px;
    }
    .activites-card:nth-child(1) img{
        height: 100px;
    }
    /*   COLUMN 1   */
    .col-1 {
        height: fit-content;
    }
    /*   IMAGE 2   */
    
    .col-1 .activites-card:nth-child(1){
        height: 150px;
        margin-top: 10px;
    }
    .col-1 .activites-card:nth-child(1) img{
        height: 100px;
    }
    /*   IMAGE 3   */
    .col-1 .activites-card:nth-child(2){
        height: 150px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .col-1 .activites-card:nth-child(2) img{
        height: 100px;
    }
    /*   IMAGE 4   */
    .activites-card:nth-child(3){
        height: 150px;
        margin-top: 10px;
    }
    .activites-card:nth-child(3) img{
        height: 100px;
    }
    
    /*  COLUMN 2  */
    .col-2 {
        height: 300px;
    }
    /*   IMAGE 5  */
    .col-2 .activites-card:nth-child(1){
        height: 150px;
        margin-top: 0px;
    }
    .col-2 .activites-card:nth-child(1) img {
        height: 100px;
    }
    /*   IMAGE 6   */
    .col-2 .activites-card:nth-child(2) {
        height: 150px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    
    .col-2 .activites-card:nth-child(2) img {
        height: 100px;
    }
    
}



/*   FOOTER   */
footer {
    padding: 0px;
    margin: 0;
    background-color: #f2f2f2;
    padding: 3em;
    width: 100%;

    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    

}
.footer-element, .footer-element a{
        text-decoration: none;
        color: #000000;
        margin: 10px 100px 10px 0;
        display: flex;
        flex-flow: column nowrap;
        width: fit-content;
        text-align: left;

}
.footer-element h3 {
  margin-bottom: 15px;
  text-align: left;
}
.assistance{
    margin: 10px 100px 10px 0;
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    text-align: left;

}
.footer-element h3 {
  margin-bottom: 15px;
  text-align: left;
}

